<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="#{config['dataSource.driverClassName']}" />
		<property name="url" value="#{config['dataSource.url']}" />
		<property name="username" value="#{config['dataSource.username']}" />
		<property name="password" value="#{config['dataSource.password']}" />
		<property name="validationQuery" value="#{config['dataSource.validationQuery']}" />		
		<property name="maxWait" value="#{config['dataSource.maxWait']}" />
		<property name="maxActive" value="#{config['dataSource.maxActive']}" />
		<property name="maxIdle" value="#{config['dataSource.maxIdle']}" />
		<property name="minIdle" value="#{config['dataSource.minIdle']}" />
	</bean>

</beans>